<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Daftar Contact</h2>

      <table class="table table-secondary">
        <thead>
          <tr>
            <th scope="col">No</th>
            <th scope="col">Nama</th>
            <th scope="col">No-Hp</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <%if (contacts.length === 0) { %>
            <tr>
              <td colspan="5">
                <div class="alert alert-danger" role="alert">
                  Empty Data Contacts
                </div>
                
              </td>
            </tr>
          <% } %>
            <%contacts.forEach((data, i) => {i++ %>
              <tr>
                <th scope="row"><%= i %></th>
                <td><%= data.nama %></td>
                <td><%= data.nohp %></td>
                <td><%= data.email %></td>
                <td>
                  <a href="/contact/<%= data.nama %>" class="btn btn-outline-success btn-sm"><i class="bi bi-info-circle"></i> Detail</a>
                </td>
              </tr>
            <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>